@import url('https://css.gg/software-upload.css');
@import url('https://css.gg/software-download.css');
@import url('https://css.gg/play-list-search.css');
@import url('https://css.gg/play-button.css');
@import url('https://css.gg/file-add.css');
@import url('https://css.gg/shape-square.css');
@import url('https://css.gg/menu.css');

:root {
    --background-color: #222225;
    --page-width: 75em;
    --font-color: #e8e9ed;
    --invert-font-color: #222225;
    --secondary-color: #a3abba;
    --tertiary-color: #a3abba;
    --primary-color: #62c4ff;
    --error-color: #ff3c74;
    --progress-bar-background: #3f3f44;
    --progress-bar-fill: #62c4ff;
    --code-bg-color: #3f3f44;
}

.terminal-card {
    position: relative;
}

.maximize-button {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-color);
    background-color: var(--background-color);
    border: 1px solid;
    cursor: pointer;
}

.load-example-button {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-color);
    background-color: var(--background-color);
    border: 1px solid;
    cursor: pointer;
}

.terminal-card.maximized {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-color);
    z-index: 999;
    margin-top: 0;
}

.terminal-card.maximized > div {
    height: calc(100vh - 38px);
    overflow: auto;
}

.terminal-card.maximized textarea {
    height: calc(100vh - 105px);
}

.terminal-card.maximized pre {
    height: calc(100vh - 125px);
}

.regp-terminal {
    margin-top: 20px;
}

.regp-terminal .results {
    display: block;
    margin: 0 auto;
    border: 1px solid;
    margin-bottom: 1rem;
    background: black;
    zoom: 150%;
}

.app-container {
    display: flex;
    gap: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.app-container > * {
    width: 100%;
}

.closed {
    display: none !important;
}

.disassemble-container {
    margin-bottom: 20px;
}

.buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons-container .item {
    display: flex;
    gap: 10px;
}

.load-exemple-dialog {
    background: var(--background-color) !important;
}