@import url('https://css.gg/software-upload.css');
@import url('https://css.gg/software-download.css');
@import url('https://css.gg/play-list-search.css');
@import url('https://css.gg/play-button.css');
@import url('https://css.gg/file-add.css');

:root {
    --background-color: #222225;
    --page-width: 75em;
    --font-color: #e8e9ed;
    --invert-font-color: #222225;
    --secondary-color: #a3abba;
    --tertiary-color: #a3abba;
    --primary-color: #62c4ff;
    --error-color: #ff3c74;
    --progress-bar-background: #3f3f44;
    --progress-bar-fill: #62c4ff;
    --code-bg-color: #3f3f44;
}

.regp-terminal {
    margin-top: 20px;
}

.regp-terminal .results {
    display: block;
    margin: 0 auto;
    border: 1px solid;
    margin-bottom: 1rem;
    background: black;
    zoom: 150%;
}

.app-container {
    display: flex;
    gap: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.app-container > * {
    width: 100%;
}

.closed {
    display: none !important;
}

.disassemble-container {
    margin-bottom: 20px;
}

.buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons-container .item {
    display: flex;
    gap: 10px;
}